body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:120px;
    top:385px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_mouseOver {
    background-image: url('../Chart_2_files/button_u1_mouseOver.png');
}

.u1_disabled {
    background-image: url('../Chart_2_files/button_u1_disabled.png');
}

.u1_normal {
    background-image: url('../Chart_2_files/button_u1_normal.png');
}

.u1_container {
    position:absolute;
    left:364px;
    top:405px;
    width:129px;
    height:25px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:31px;
}

.u2 {
    position:absolute;
    left:2px;
    top:4px;
    width:125px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:100px;
    top:100px;
    width:208px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Chart_2_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:100px;
    top:145px;
    width:199px;
    height:196px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:199px;
    height:196px;
}

.u5 {
    position:absolute;
    left:2px;
    top:90px;
    width:195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Chart_2_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:374px;
    top:298px;
    width:119px;
    height:52px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:52px;
}

.u7 {
    position:absolute;
    left:2px;
    top:18px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:342px;
    top:160px;
    width:194px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:120px;
    top:408px;
    width:140px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

